*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}

body {
	background-color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;

}

header {
	position: relative;
	background-color: #06364a;	
	padding: 0.5em 1em 0.5em 1em;
}

header #logo{
	margin-left: 3em;
}

header #cart{
	position: absolute;
	display: inline-block;
	float: right;
	padding-top: 0.25em;
	padding-left: 45rem;
	color: white;
}

header #phone{
	position: absolute;
	display: inline-block;
	float: right;
	padding-top: 1em;
	padding-left: 45rem;
	color: white;
	font-size: 1.5rem;
}

#page-nav {
	width: 100%;
	background-color: black;
	text-align: left;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.2rem;
	text-align: center;
}

#page-nav a {
	display: inline-block;
	color:  #94c83d;
	padding: 0.5em 4em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

#page-nav a:hover, nav a:active, nav a:focus {
	background-color: rgba(150,150,150,0.7)
}

footer {
	position:relative;
	background-color: #06364a;	
	display:inline-block;
	padding: 1em 3.7em;
	width:100%;
	text-decoration: none;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1rem;
	text-align:left;
}

footer a.link{
	text-align:left;
	margin-left: 2em;
	color:  #ffffff;
	padding: 1em 1em;
	text-decoration: none;
	margin-left: 2em;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

footer a:hover, nav a:active, nav a:focus {
	color: #94c83d;
}

footer p{
	position: absolute;
	top: 0em;
	right: 2em;
	color: white;
	font-family: "Roboto";
}