*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}

body {
	background-color: #f2eeef;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;

}

header {
	position: relative;
	background-color: #f2eeef;
}

header #logo{
	margin-left: 25%;
}

#page-nav {
	font-size: 1.2rem;
	text-align: center;
}

#page-nav a {
	display: inline-block;
	color: #06364a;
	margin: 4% 3%;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

#page-nav a:hover, nav a:active, nav a:focus {
	
	color: #94c83d;

}

#breadcrumbs{
	color: #A1A1A1;
	font-weight: lighter;
	padding-top: 0.5rem;
}

footer {
	position:relative;
	background-color: #06364a;	
	display:inline-block;
	width:100%;
	font-size: 1rem;
	text-align:left;
}

footer a.link{
	text-align:left;
	color:  #ffffff;
	margin-left: 4%;
	margin-right: 4%;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

footer a:hover, nav a:active, nav a:focus {
	color: #94c83d;
}

#details-text{
	display: inline-block;
	top: 0;
	right: 2%;
	margin: 0;
}

#details-title h1{
	display: inline;
	color: white;
	font-weight: bolder;
	font-size: 1.5rem;
	text-align: right;
}

#details-title p{
	color: white;
	font-size: 1rem;
	margin: 0rem;
	font-style: italic;
	text-align: right;
	padding-bottom: 5%;
}

#details-info p{
	color: white;
	text-align: right;
	margin: 0rem;
}
#logoWord{
	padding-left:0;
}
.dd-hidden {
	visibility: none;
	position: absolute;
	opacity: 0;
}

.dd-shown {
	visibility: visible;
	opacity: 1;
}
#navToggle {
	display: none;
	background-color:#f2eeef;
	text-decoration: none;
	padding: 1em 1.25em;
}

#hide{

}

