*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}

body{
	background-color: white;
}

.content{
	position: relative;
	background-color: white;
}

button{
	font-size: 1em;
	border-radius: 0.5em;
	padding: 0.5rem;
	margin-top: 6%;
	margin-left: 40%;
	background-color: #06364a;
	border-color: #06364a;
	color: white;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

button:hover {
	background-color: rgba(150,150,150,0.7);
	border-color: rgba(150,150,150,0.7);
	color: #06364a;
}

.content h2{
	color: #06364a;
	font-size: 2rem;
	padding-left: 8rem;
}

.content p{
	padding-left: 8rem;
	padding-right: 8rem;
	padding-bottom: 0.5rem;
	line-height: 1.5rem;
	text-align: justify;
}

.content #divider{
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.content h3{
	color: #06364a;
	padding-left: 8rem;
}

form{
	text-align: right;
	max-width: 65%;
}

#billing-info{
	max-width: 50%;
}

input{
	padding: 0.25em;
	margin-left: 1em;
	font-size: 1em;
}

select{
	padding: 0.25em;
	margin-left: 1em;
	font-size: 1em;
}

.input-wrapper{
	margin: 1rem;
}

button{
	font-size: 1em;
	border-radius: 0.5em;
	padding: 0.5rem;
	margin-top: 6%;
	margin-left: 40%;
	background-color: #06364a;
	border-color: #06364a;
	color: white;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

button:hover {
	background-color: rgba(150,150,150,0.7);
	border-color: rgba(150,150,150,0.7);
	color: #06364a;
}

#cart-headings{
	background-color: #f2eeef;
	text-align:center;
}

#cart-headings p{
	display: inline-block;
	padding: 0.5% 6.5% 0.5% 6.5%;
	margin: 0;
}

#cart-headings #current{
	background-color: #06364a;
	color: white;
}

#totals{
	position: absolute;
	text-align: right;
	right: 15%;
	top: 40%;
	border-color: #06364a;
	border-width: 0.25rem;
	border-style: solid;
}

#totals p{
	text-align: right;
	padding-right: 7%;
}

#totals h2{
	text-align: center;
	padding-left: 0%;
	margin-bottom: 0;
	text-decoration: underline;
}

#totals h3{
	text-align: right;
	padding-right: 7%;
}
