*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}

.content{
	position: relative;
	background-color: white;
}

#breadcrumbs{
	color: #A1A1A1;
	font-weight: lighter;
	padding-top: 0.5rem;
}

.content h2{
	color: #06364a;
	font-size: 2rem;
	padding-left: 8rem;
}

.content p{
	padding-left: 8rem;
	padding-right: 8rem;
	padding-bottom: 0.5rem;
	line-height: 1.5rem;
	text-align: justify;
}

.content #divider{
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.content h3{
	color: #06364a;
	padding-left: 8rem;
}

.content #featured img{
	width: 20%;
	height: auto;
	
}

#browse-buttons{
	width: 100%;
	background-color: black;
	text-align: left;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.2rem;
	text-align: center;
}

#browse-buttons a {
	display: inline-block;
	color:  #94c83d;
	padding: 2em 7em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

#browse-buttons a:hover, nav a:active, nav a:focus {
	background-color: rgba(150,150,150,0.7)
}