body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #E2E2E2;
}

#header {
	background-color: #06364a;
	color: #E2E2E2;
	padding: 0.5rem;
	text-align: center;
}

#header h1{
	font-size: 1.5rem;
}

#header h2{
	font-size: 1rem;
}
.section-header{
	font-size: 1.35rem;
	color: #94c83d;
	background-color: #232323; 
	padding: 0.25em 0.5em;
	margin-top: 2rem;
	display:inline-block;
}

.section-content-header{
	font-size: 1.25rem;
	padding-left: 1rem;
}

.section-content{
	font-size: 1rem;
	padding-left: 1rem;
}

#buttons a{
	background-color: #06364a;
	color: #94c83d;
	padding: 0.5em 1em;
	border-radius: 0.25em;
	margin-left: 1rem;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

#buttons a:hover{
	background-color: rgba(6,54,74, 0.5);
}

#forms label{
	color: #06364a;
	font-weight: bold;
	padding-left: 1rem;
}

#forms input{
	margin-left: 3rem;
}

#images img{
	margin-left: 1rem;
	display: block;
	height: auto;
	max-width: 80%;
}

.page-headers{
	color: #94c83d;
	margin-left: 1rem;
	font-size: 1.5rem;
}

.page-headers-sample{
	color: #06364a;
	margin-left: 1rem;
	font-size: 0.85rem;
	font-weight: bold;
}

.section-headers-sample{
	color: #06364a;
	margin-left: 1rem;
	font-size: 0.75rem;
}

.section-text-sample{
	color: #06364a;
	margin-left: 1rem;
	font-size: 0.6rem;
	font-weight: lighter;
}